		<!-- fh5co-blog-section -->
		<footer>
			<div id="footer">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 text-center">
							<p class="fh5co-social-icons">
								<a href="/#!/"><i class="icon-twitter2"></i></a>
								<a href="/#!/"><i class="icon-facebook2"></i></a>
								<a href="/#!/"><i class="icon-instagram"></i></a>
								<a href="/#!/"><i class="icon-dribbble2"></i></a>
								<a href="/#!/"><i class="icon-youtube"></i></a>
							</p>
							<p>Copyright 2016 <a href="/#!/">TLWB</a>. All Rights Reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
	

	</div>
	<!-- END fh5co-page -->

	</div>
	<!-- END fh5co-wrapper -->

	<!-- jQuery -->
	<script src="/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/js/jquery.waypoints.min.js"></script>
	<!-- Stellar -->
	<script src="/js/jquery.stellar.min.js"></script>
	<!-- Superfish -->
	<script src="/js/hoverIntent.js"></script>
	<script src="/js/superfish.js"></script>

	<!-- Main JS (Do not remove) -->
	<script src="/js/main.js"></script>

	<!-- AngularJS -->
	<script type="text/javascript" src="/lib/angular/angular.js"></script>
	<script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
	<script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>

	<script type="text/javascript" src="/js/controllers/articles.client.controller.js"></script>
	<script type="text/javascript" src="/js/routes/articles.client.routes.js"></script>
	<script type="text/javascript" src="/js/services/articles.client.service.js"></script>

	<script type="text/javascript" src="/js/controllers/core.client.controller.js"></script>
	<script type="text/javascript" src="/js/routes/core.client.routes.js"></script>

	<script type="text/javascript" src="/js/controllers/users.client.controller.js"></script>

	<script type="text/javascript" src="/js/services/authentication.client.service.js"></script>

	<!--Bootstrap AngularJS Application-->
	<script type="text/javascript" src="/js/application.js"></script>

	</body>
</html>

