<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
  <title><%= title %></title>
</head>
<body>
  <section ng-view></section>
    
  <script type="text/javascript">
    window.user = <%- user || 'null' %>;
  </script>
  
  <script type="text/javascript" src="/lib/angular/angular.js"></script>
  <script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
  <script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>

  <script type="text/javascript" src="/controllers/articles.client.controller.js"></script>
  <script type="text/javascript" src="/routes/articles.client.routes.js"></script>
  <script type="text/javascript" src="/services/articles.client.service.js"></script>

  <script type="text/javascript" src="/controllers/core.client.controller.js"></script>
  <script type="text/javascript" src="/routes/core.client.routes.js"></script>

  <script type="text/javascript" src="/controllers/users.client.controller.js"></script>

  <script type="text/javascript" src="/services/authentication.client.service.js"></script>

  <!--Bootstrap AngularJS Application-->
  <script type="text/javascript" src="/application.js"></script>
</body>
</html>