<div id="fh5co-work-section" ng-controller="CoreController">

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 heading-section text-center">
        <div ng-show="!authentication.user">
          <a class="btn btn-primary" href="/signup">Sign Up</a>
          <a class="btn btn-primary" href="/signin">Sign In</a>
        </div>
        <div ng-show="authentication.user">
          <h1>Hello <span data-ng-bind="authentication.user.fullName"></span></h1>
          <a class="btn btn-primary" href="/#!/articles">List Articles</a>
          <a class="btn btn-primary" href="/#!/articles/create">Create Article</a>
          <a class="btn btn-primary" href="/signout">Sign Out</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-8">
        <div class="fh5co-grid" style="background-image: url(images/main-1.jpg);">
          <a class="image-popup text-center" href="#">
            <div class="prod-title">
              <h3>Don’t Just Stand There</h3>
              <span>Illustration, Print</span>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="fh5co-grid" style="background-image: url(images/main-2.jpg);">
          <a class="image-popup text-center" href="#">
            <div class="prod-title">
              <h3>Don’t Just Stand There</h3>
              <span>Illustration, Print</span>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="fh5co-grid" style="background-image: url(images/main-3.jpg);">
          <a class="image-popup text-center" href="#">
            <div class="prod-title">
              <h3>Don’t Just Stand There</h3>
              <span>Illustration, Print</span>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-8 col-sm-8">
        <div class="fh5co-grid" style="background-image: url(images/main-4.jpg);">
          <a class="image-popup text-center" href="#">
            <div class="prod-title">
              <h3>Don’t Just Stand There</h3>
              <span>Illustration, Print</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>