<div id="fh5co-contact" ng-controller="ArticlesController">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center heading-section">
        <h3>New Article</h3>
        <form ng-submit="create()" novalidate>
          <div>
            <div>
              <input type="text" class="form-control" ng-model="title" id="title" placeholder="Title" required>
            </div>
          </div>
          <div>
            <div>
              <textarea ng-model="content" class="form-control" id="content" cols="30" rows="10" placeholder="Content"></textarea>
            </div>
          </div>
          <br>
          <div>
            <input class="btn btn-primary" type="submit">
          </div>
          <div ng-show="error">
            <strong ng-bind="error"></strong>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>