<div id="fh5co-blog-section" class="fh5co-section-gray" ng-controller="ArticlesController" ng-init="find()">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center heading-section">
        <h3>Recent From Blog</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores
          sint consequuntur debitis.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">

      <div class="col-lg-12 col-md-12" ng-hide="!articles || articles.length">
        No articles yet, why don't you <a href="/#!/articles/create">create one</a>?
      </div>

      <div class="col-lg-4 col-md-4" ng-repeat="article in articles">
        <div class="fh5co-blog">
          <a href="/#!/"><img class="img-responsive" ng-src="images/blog-{{$index}}.jpg" alt="Description"></a>
          <div class="image-popup" href="/#!/">
            <div class="prod-title">
              <h3>
                <a ng-href="#!/articles/{{article._id}}" ng-bind="article.title"></a>
              </h3>
              <span class="posted_by" ng-bind="article.creator.fullName"></span>
              <span class="comment" ng-bind="article.created | date:'medium'"></span>
              <!--
              <p ng-bind="article.content"></p>
              -->
              <br>
              <a ng-href="#!/articles/{{article._id}}" class="btn btn-primary">Read</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>