<div id="fh5co-blog-section" class="fh5co-section-gray" ng-controller="ArticlesController" ng-init="findOne()">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center heading-section">
        <h3 ng-bind="article.title"></h3>

        <small>
          <em>Posted on</em>
          <em ng-bind="article.created | date:'mediumDate'"></em>
          <em>by</em>
          <em ng-bind="article.creator.fullName"></em>
        </small>

        <p ng-bind="article.content"></p>

        <div ng-show="authentication.user._id == article.creator._id">
          <a class="btn btn-primary" href="/#!/articles/{{article._id}}/edit">Edit</a>
          <a class="btn btn-primary" href="#" ng-click="delete();">Delete</a>
        </div>

      </div>
    </div>
  </div>
</div>